:root {
  --bg1: #F5F5F5;
  --fg1: #1D1D1D;
  --fg2: #4D4D4D;
}

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: var(--bg1);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: Manrope, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  color: var(--fg1);
}

h2 {
  font-family: Manrope;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  color: var(--fg1);
}

p {
  font-family: Manrope;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;  
  color: var(--fg2);
}

header {
  width: 100%;
  height: fit-content;
  padding: 1.25rem;
  box-shadow: 0 0px 11.9px -7px var(--fg1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main {
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  flex: 1;
}

footer {
  border: 1px white solid;
  width: 100%;
  height: fit-content;
}

ul {
  padding: 0;
}
ul.outer li {
  list-style: none;
  border-top: 4px var(--fg1) solid;
  padding-bottom: 1.125rem;
}

ul.inner {
  margin-top: 0.8rem;
  margin-left: 3rem;
}

ul.inner li {
    border-top: 2px var(--fg2) solid;
    padding-block: 0.8rem;
    padding-bottom: 0.8rem;
}

ul.inner li:hover {
    background: #E9E9E9;
    text-decoration: underline;
}

.toggle-heading:hover .icon {
  border: 1px black solid;
  background: white;
}

.toggle-heading {
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.toggle-heading .icon {
  background: var(--fg1);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
